body {
  font-family: 'Share Tech', sans-serif;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: right;
  align-items:right;
  margin: 0;
  width: 50vw;
  height: 50vh;
  text-shadow: 8px 8px 10px #0000008c;
  background-image: url('github.jpg');
}

h1 {
  margin: 5px;
}
.contact{
  font-family: 'Share Tech', sans-serif;
  font-size: 16px;
  color: rgb(19, 13, 6);
  border: 2px;
  text-shadow: 8px 8px 10px #0000008c;
  margin: 5px;
  
}

.about{
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    color: rgb(26, 18, 8);
    border: 2px ;
    text-shadow: 8px 8px 10px #0000008c;
    margin: 5px;

  }

.coffee{
    font-family: 'Share Tech', sans-serif;
    font-size: 16px;
    color: rgb(27, 19, 9);
    border: 2px;
    text-shadow: 8px 8px 10px #0000008c;
    margin: 5px;

  }

