body{
  background-color: black;

}

.container {
    flex-flow: space-between ;
  }

.contact {
  
  color: rgb(9, 255, 0);
  background-color: tomato;
  border-radius: 20px;
}
.about {
  color: rgb(94, 255, 0);
  background-color:tomato;
  border-radius: 20px;
}
.coffee {
  color: rgb(72, 255, 0);
  background-color: tomato;
  border-radius: 20px;
}

.h1{
  color: gray;
  text-align: center;
}