.background{
  background-color: black;
  background-image: url('DEEEZZ5/pieterbartlett55/pexels-sabina-kallari-13161994.jpg');
}

.container {
    flex-flow: space-between ;
  }

.contact {
  
  color: rgb(255, 255, 255);
  background-color: blue;
  border-radius: 20px;
}
.about {
  color: rgb(255, 255, 255);
  background-color: blue;
  border-radius: 20px;
}
.coffee {
  color: rgb(255, 255, 255);
  background-color: blue;
  border-radius: 20px;
}

.h1{
  color: gray;
  text-align: center;
}