.pixel-image{
  height: 300px;
  width: 300px;
}
.pixel-image2{
  height: 300px;
  width: 300px;
}
.purple-image{
  height: 300px;
  width: 300px;
}
.image3{
  width: 300px;
  height: 300px;
}